.NavBar {
    background-color: #eae1e1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.5rem 1rem;
    z-index: 1030;
}

.Navlink {
    color: #212529;
    padding: 0.5rem 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.NavLink i {
  margin-right: 0.5rem;
}

.NavLink:hover,
.NavLink:focus {
  color: var(--primary-color);
}

.Active {
  font-weight: 700;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.Active i {
    color: #a14455;
}